/* Zerando a pagina total */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/* Zerando o link*/
a{
    text-decoration: none;
}

ul, ol, li {
    list-style: none;
}

html, body{
    scroll-behavior: smooth;
}

header{
    position: fixed;
    width: 100vw;
    background-color:#333;
    padding: 16px;
    z-index: 10;
    
}

header nav ul {
    display: flex;
    justify-content: space-between;
}

header nav a {
    color: white;
    padding: 8px;
}

header nav a:hover{
    background-color: tomato;
    transition: 1s;
}

.grupo {
    height: 100vh;
}

.grupo h2 {
    color: rgb(0, 0, 0);
    font-size: 2em;
    margin-top: -20vh;
    text-align: center;
    margin-left: 102vh;
}

.grupo p {
    text-align: center;
    color: rgb(0, 0, 0);
    font-size: 1.2em;
    max-width: 600px;
    margin-left: 130vh;

}

#NOCTAGLIDE {
    background-color: rgb(244, 244, 244);
    position: relative; 
    flex-direction: column;
}




#NOCTAGLIDE img {
    display: block;
    width: 40%;
    height: 70%;
    position: relative;
    left: 20vh;
    top: 15vh; 
    
}



#ASICSGEL{
    background-color: rgb(237, 237, 237);
}

#ASICSGEL img{
    display: block;
    width: 40%;
    height: 70%;
    position: relative;
    left: 20vh;
    top: 15vh;
}
#LEBRON{
    background-color: rgb(254, 254, 254);
}
#LEBRON img{
    display: block;
    width: 40%;
    height: 70%;
    position: relative;
    left: 20vh;
    top: 15vh;
}
#KD15{
    background-color: rgb(255, 255, 255);
}

#KD15 img{
    display: block;
    width: 40%;
    height: 70%;
    position: relative;
    left: 20vh;
    top: 15vh;
}
#KD17{
    background-color: rgb(248, 245, 245);
}

#KD17 img{
    display: block;
    width: 40%;
    height: 70%;
    position: relative;
    left: 20vh;
    top: 15vh;
}